{% extends "main.html.twig" %}

{% set page_title = "About" %}

{% block body %}

    <div class="page">
        <div class="main-title page-title"> Who are we? </div>
        <div class="page-desc">
            Beatae at impedit provident. Tempora dolore quidem aut ut cumque libero repellat.
            Voluptatem sunt laborum cumque magnam ullam.
            Perspiciatis sit odit perspiciatis vero repellat doloribus perspiciatis.
            Blanditiis architecto quas ratione inventore maxime.
        </div>
        <div class="main-title page-title"> Our purpose... </div>
        <div class="page-desc">
            Nostrum nihil neque et sed eligendi. Qui ut deleniti occaecati aut maxime excepturi autem.
            Alias praesentium doloribus cupiditate quis odio assumenda doloribus id.
            Ratione iusto aliquid vel repellendus ut repudiandae. Tenetur laudantium quam soluta.
            Eligendi eligendi ut nesciunt dolore. Et voluptas dolorem ut.
            Molestiae qui ut eius alias deleniti iste perspiciatis.
            Beatae at impedit provident. Tempora dolore quidem aut ut cumque libero repellat.
            Voluptatem sunt laborum cumque magnam ullam.
            Perspiciatis sit odit perspiciatis vero repellat doloribus perspiciatis.
            Blanditiis architecto quas ratione inventore maxime.
        </div>
    </div>

{% endblock %}
