{% extends "main.html.twig" %}

{% set page_title = "Contact" %}

{% block body %}

    <div class="page">
        <div class="main-title page-title"> Our Socials </div>
        <div class="page-desc">
            Facebook <br>
            Instagram <br>
            Twitter <br>
            Snapchat <br>
        </div>
        <div class="main-title page-title"> Contact Our Team </div>
        <div class="page-desc">
            +90 533 546 34 23 <br>
            +90 543 236 57 13 <br> <br>
            team@camasirs.com
        </div>
    </div>

{% endblock %}
