{% extends "main.html.twig" %}

{% block body %}
	
	{% include "layouts/services_section.html.twig" %}

	{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
    	<div class="mt-50 hr bg-gray h-1"></div>

		{% include "layouts/tutorial_section.html.twig" %}
	{% endif %}

    <div class="mt-50 hr bg-gray h-1"></div>

	{% include "layouts/more_section.html.twig" %}

	{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
		{% include "layouts/signup_customer_section.html.twig" %}
	{% endif %}

{% endblock %}
