.dropdown {
    display: inline-block;
    position: relative;

    outline: none;

    cursor: pointer;
}
.dropdown:focus-within .dropdown-btn {
    background-color: var(--color-m);
    border-bottom: 1px var(--color-m) solid;
}
.dropdown:focus-within .dropdown-cont { display: block; }

.dropdown-btn { padding: var(--space-m); }

.dropdown-cont {
    z-index: 2;
    display: none;
    position: absolute;

    padding: 0;
    margin: 0;

    background-color: var(--color-m);
    list-style: none;
    border: 1px var(--color-xd) solid;
    border-top: none;
}

.dropdown-item {
    padding: var(--space-m);
    padding-right: 40px;
}
.dropdown-item:hover {
    background-color: var(--color-d);
    color: var(--color-l); 
}
