.header-main {
    z-index: 2;
    position: fixed;
    top: 0;

    width: 100%;
    border-bottom-right-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);

    background-color: var(--color-m);
    border-bottom: 2px var(--color-xd) solid;
}

.header-item {
    display: inline-block;

    padding: var(--space-l);

    font-size: var(--font-m);
    border-bottom: 1px var(--color-m) solid;

    cursor: pointer;
}
.header-item:hover { color: var(--color-d); }

.header-logo {
    width: 40px;
    margin: calc(-1 * var(--space-l));
    padding: 0 var(--space-s);

    transition: .6s ease-in-out;
}
.header-logo:hover { rotate: -360deg; }
