body {
    margin: 0;

    background-color: var(--color-xl);
    color: var(--color-xd);

    font-family: sans-serif;
    font-size: var(--font-s);
}

a {
    text-decoration: none;
    color: var(--color-xd);
}

.main-box {
    background-color: var(--color-m);
    border-bottom: 2px var(--color-d) solid;

    border-radius: var(--radius-s);
}

.block-middle {
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.float-right { float: right; }

.position-right { right: 0; }

.main-title { font-weight: bold; }

.main-error { font-weight: 100; }

.main-main { padding: 80px 60px; }

.main-input {
    background-color: var(--color-l);
    color: var(--color-xd);
    border-radius: var(--radius-s);

    padding: var(--space-s) 8px;

    border: none;
    border-bottom: 1px var(--color-d) solid;
    box-sizing: border-box;

    font-size: var(--font-m);
}

.main-button {
    padding: var(--space-s) var(--space-m);

    font-size: var(--font-s);

    background-color: var(--color-l);
    color: var(--color-d);
    border: none;
    border-bottom: 3px var(--color-d) solid;
    border-radius: var(--radius-s);

    cursor: pointer;
}
.main-button:focus {
    border-top: 1px var(--color-xl) solid;
    border-bottom: 2px var(--color-d) solid;
}

.main-search-input { width: 90%; }
