:root {
    --color-xd: #b3f0ff;
    --color-d: #cccc00;
    --color-m: #008fb3;
    --color-l: #007a99;
    --color-xl: #005266;

    --font-s: 15px;
    --font-m: 17px;
    --font-l: 19px;

    --radius-s: 5px;
    --radius-m: 10px;
    --radius-l: 15px;

    --space-s: 5px;
    --space-m: 10px;
    --space-l: 15px;
}
