.services-temp {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    grid-gap: var(--space-m);

    margin: 40px 60px;
    height: 450px;
}

.service-box {
    display: block;

    background-color: var(--color-m);
    border-bottom: 2px var(--color-d) solid;

    width: 100%;
    height: 100%;
    border-radius: var(--radius-s);

    transition: .2s ease-in-out;
}
.service-box:hover {
    background-color: var(--color-d);
    color: var(--color-l);
}

.service-box-l { grid-row: 1/3; }

.service-title {
    font-size: 35px;
    margin: var(--space-l);
}
