<footer class="footer_1 bg-light pt-75 pb-65 text-center">
    <div class="container px-xl-0">
        <div class="row justify-content-between align-items-center lh-40 links">
            <div class="col-lg-4 col-sm-6 text-sm-right text-lg-left order-1 order-lg-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                <a href="{{ path("about") }}" class="mr-15 link color-main">Hakkımızda</a>
                <a href="#" class="mx-15 link color-main">Satış Sözleşmesi</a>
                <a href="#" class="mx-15 link color-main">Kullanım Koşulları</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-sm-left text-lg-right order-2 order-lg-0" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                <a href="{{ path("contact") }}" class="mr-15 link color-main">İletişim</a>
                <a href="#" class="mx-15 link color-main">Twitter</a>
                <a href="#" class="mx-15 link color-main">Facebook</i></a>
                <a href="#" class="ml-15 link color-main">Instagram</i></a>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="/assets/js/custom/main.js" charset="utf-8"></script>

</html>
