{% if error.message is defined %}
    <div class="mb-25 mt-25 f-18 medium text-warning text-center"> {{ error.message }} </div>
{% elseif app.request.get("success") %}
    <div class="mb-25 mt-25 f-18 medium text-info text-center"> {{ app.request.get("success") }} </div>
{% endif %}