<section class="bg-light pt-75 pb-45 text-center">
    <div class="container px-xl-0">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row justify-content-center">
                    <div class="mb-50 col-md-4 col-sm-8">
                        <img src="/assets/img/icons/binoculars.png" class="radius10 img-fluid" alt="" />
                        <div class="mb-3 pt-20 f-18 medium title">Temiz Getir'i Keşfedin</div>
                        <div class="color-heading text-adaptive">
                            Hakkımızda iletişim.
                        </div>
                        <a href="#" class="mt-30 btn sm w-40 border-transparent-main">></a>
                    </div>
                    <div class="mb-50 col-md-4 col-sm-8">
                        <img src="/assets/img/icons/question.png" class="radius10 img-fluid" alt="" />
                        <div class="mb-3 pt-20 f-18 medium title">Sıkça Sorulan Sorular</div>
                        <div class="color-heading text-adaptive">
                            Temizleme politikamız.
                        </div>
                        <a href="#" class="mt-30 btn sm w-40 border-transparent-main">></a>
                    </div>
                    <div class="mb-50 col-md-4 col-sm-8">
                        <img src="/assets/img/icons/handshake.png" class="radius10 img-fluid" alt="" />
                        <div class="mb-3 pt-20 f-18 medium title">İş Ortagımız Olun</div>
                        <div class="color-heading text-adaptive">
                            İş hesabını yarat.
                        </div>
                        <a href="{{ path("signup_request_provider") }}" class="mt-30 btn sm w-40 border-transparent-main">></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>