<section class="bg-light pb-70 text-center">
    <div class="container px-xl-0">
        <div class="row justify-content-center no-gutters">
            <div class="col-xl-10">
                <div class="row justify-content-center">
                    
                    <div class="col-lg-3 pt-75 col-md-5 col-sm-6 mb-70 mb-lg-0 block">
                        <a href="{{ path("dry_cleaning_service") }}">
                            <div class="mx-auto mt-25 bg-gray f-62 lh-120 color-heading w-130 h-130 radius_full">
                                <img src="/assets/img/icons/wmachine.png" class="radius10 img-fluid" alt="" />
                            </div>
                        </a>
                        <div class="f-22 pt-20 title">Kuru Temizleme & Çamaşır</div>
                        <div class="mt-10 color-heading subtitle">
                            Yüksek teknolojili kuru temizleme hizmetimiz ile kıyafetlerini uzun süreli kullanabilirsin.
                        </div>
                    </div>

                    <div class="col-lg-3 pt-75 col-md-5 col-sm-6 mb-70 mb-lg-0 block">
                        <a href="{{ path("carpet_cleaning_service") }}">
                            <div class="mx-auto mt-25 bg-gray f-62 lh-120 color-heading w-130 h-130 radius_full">
                                <img src="/assets/img/icons/carpet.png" class="radius10 img-fluid" alt="" />
                            </div>
                        </a>
                        <div class="f-22 pt-20 title">Halı</div>
                        <div class="mt-10 color-heading subtitle">
                            Kusursuz ütü hizmetimizle kusursuz görün.
                        </div>
                    </div>

                    <div class="col-lg-3 pt-75 col-md-5 col-sm-6 block">
                        <a href="{{ path("ironing_service") }}">
                            <div class="mx-auto mt-25 bg-gray f-62 lh-100 color-heading w-130 h-130 radius_full">
                                <img src="/assets/img/icons/iron.png" class="radius10 img-fluid" alt="" />
                            </div>
                        </a>
                        <div class="f-22 pt-20 title">Ütü</div>
                        <div class="mt-10 color-heading subtitle">
                            Kusursuz ütü ve terzi hizmetimizle kusursuz görün.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>