<section class="bg-light pt-75 pb-90 text-center">
    <div class="container px-xl-0">

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img src="/assets/img/icons/sms.png" class="radius10 img-fluid" alt="" />
                <div class="mt-20 mb-15 f-22 title">Siparişini Oluştur</div>
                <div class="mt-15 mb-25 f-22 color-heading text-adaptive">
                    Ürün seçerek vakit kaybetme. Yalnızca uygun zamanı seç ve sipariş oluştur.
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <img src="/assets/img/icons/scooter.png" class="radius10 img-fluid" alt="" />
                <div class="mt-20 mb-15 f-22 title">Kurye Kapına Gelsin</div>
                <div class="mt-15 mb-25 f-22 color-heading text-adaptive">
                    Ürünleri tesislerimizde detaylandırıp fiyat bilgisini gönderelim.
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <img src="/assets/img/icons/delivery.png" class="radius10 img-fluid" alt="" />
                <div class="mt-20 mb-15 f-22 title">Temiz Getirelim</div>
                <div class="mt-15 mb-25 f-22 color-heading text-adaptive">
                    Ödemen ürünlerin teslim edildikten sonra alınır.
                </div>
            </div>
        </div>

    </div>
</section>