<form id="country-select-form" method="POST" style="hidden">
    <input type="hidden" name="csrf-token" value="{{ csrf_token("csrf-token") }}"/>
</form>

<form id="city-select-form" method="POST" style="hidden">
    <input type="hidden" name="csrf-token" value="{{ csrf_token("csrf-token") }}"/>
</form>
