{% extends "main.html.twig" %}

{% set page_title = "Password Reset" %}

{% block body %}
    <form class="main-box card-box block-middle" action="{{ path("password_reset_init") }}" method="POST">
        <div class="main-title card-title"> Password Reset </div>

        {% if error.message is defined %}
            <div class="main-error card-error"> {{ error.message }} </div>
        {% elseif app.request.get("success") %}
            <div class="main-success card-message"> {{ app.request.get("success") }} </div>
        {% endif %}

        <div class="card-cont block-middle">
            <input class="main-input card-input" name="email" placeholder="email" type="email" required>
            <input class="main-input card-input" name="password-new" placeholder="new password" type="password" required>
            <input class="main-input card-input" name="password-new-repeat" placeholder="new password repeat" type="password" required>
        </div>

        <button class="main-button card-button" type="submit" name="submit"> Send Token </button>
    </form>
{% endblock %}
